<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
   <title>Test Page - src</title>
   <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="css/site.css"/> 
   <!-- <link rel="stylesheet" href="src.styles.css"/> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
   <style>

       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           overflow:hidden;
       }

       :root {
           --primary-bg-color: linear-gradient(to bottom right, #10b981 0%, #14b8a6 50%, #0891b2 100%);
           --text-gray: #9ca3af;
       }



       .flex-center {
           display: flex;
           justify-content: center;
           align-items: center;
       }

       /* Layout */

       .login-layout {
           display: flex;
           width: 100%;
           height: 100vh;
       }

       .login-layout__left {
           background: white;
           width: 50%;
       }

       .login-layout__right {
           background: var(--primary-bg-color);
           width: 50%;
       }

       .login-card {
           width: 60%;
       }

       /* Header */

       .login-header {
           /*        margin-top: 10px;*/
           height: 100px;
       }

       .login-header__icon {
           background: var(--primary-bg-color);
           width: 65px;
           height: 65px;
           border-radius: 15px;
       }

       .login-header__title {
           background: var(--primary-bg-color);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
       }

       .login-header__title h2 {
           margin-top: 15px;
           font-weight: bold;
       }

       .login-header__subtitle {
           color: var(--text-gray);
       }

       /* Form */

       .login-form-wrapper {
           /*        margin-top: 20px;*/
       }

       .login-form {
           width: 100%;
       }

       .form-group {
           /*        margin-top: 10px;*/
           width: 90%;
       }

       .form-input{
           color: var(--text-gray);
       }

       .form-input-field {
           width: 100%;
           height: 50px;
           border-radius: 10px;
           border: 2px solid #e5e7eb;
           margin-top: 5px;
           padding-left: 10px;
       }

       .form-input-field:focus {
           outline: none;
           border-color: #14b8a6;
           box-shadow: 0 0 0 4px rgba(20,184,166,0.1);
       }

       /* Options */

       .login-options {
           margin-top: 15px;
           width: 90%;
       }

       /* Signin button */

       .login-submit-wrapper {
           margin-top: 15px;
           height:90px;
       }

       .login-submit-btn {
           width: 90%;
           height: 50px;
           border-radius: 10px;
           background: var(--primary-bg-color);
           border: none;
           font-weight: bold;
           color: white;
           transition: transform .2s;
       }

       .login-submit-btn:hover {
           transform: scale(1.04);
       }

       /* Divider */

       .login-divider {
           position: relative;
           margin: 10px 0;
       }

       .login-divider__line-wrapper {
           position: absolute;
           inset: 0;
           display: flex;
           align-items: center;
           justify-content: center;
       }

       .login-divider__line {
           width: 90%;
           border-top: 1px solid #ccc;
       }

       .login-divider__text {
           position: relative;
           text-align: center;
       }

       .login-divider__text span {
           background: white;
           padding: 0 12px;
           color: #9ca3af;
       }

       /* Social login */

       .social-login {
           width: 100%;
       }

       /*.social-login__item {*/
       /*    width: 50%;*/
       /*}*/

       .social-login__btn {
           width: 90%;
           height: 50px;
           border-radius: 15px;
           border: 2px solid #e5e7eb;
           background: white;
       }

       .social-login__btn:hover {
           background: #f9fafb;
       }

       /* Footer */

       .login-footer {
           margin-top: 30px;

       }

       .text-gap {
           margin-left: 5px;
       }

       /*right-side*/

       .title-wrapper{
           width: 60%;
           height: 100%;
           color: white;
       }

       .heading h1{
           font-weight: bold;
           font-size: 3rem;
       }

       .content-size span{
           font-size: 20px;
           text-align: center;
           margin: 10px;
       }

       .border-left-right{
           border-left: 1px solid #e5e7eb;
           border-right: 1px solid #e5e7eb;
       }

       .margin-top-10{
           margin-top: 30px;
       }

       .box{
           width: 150px;
       }
       .rounded-15 {
           border-radius: 15px !important;
       }

       .ml-250 {
           margin-left: 255px;
       }

       .nav-link {
           color: #6c757d;
       }

       .nav-link:hover {
           background-color: #f9fafb;
       }

       .nav-link.active {
           background-color: #eff6ff;
           color: #2563eb;
       }

       .footer-item:hover{
           background-color: #f9fafb;
       }
       a{
           text-decoration: none;
           color: #14b8a6;
       }
       a:hover {
           color: #14b8a6;
       }

   </style>
</head>
<body>
   <div>
       <div>

           <!-- Sidebar -->
           @* <nav class="col-md-3 col-lg-2 d-flex flex-column bg-white vh-100 border-end position-fixed" id="sticky-sidebar"> *@

           @*     <!-- Header --> *@
           @*     <div class="text-center border-bottom py-3"> *@
           @*         <h4>E-Commerce Admin</h4> *@
           @*     </div> *@
           @* *@
           @*     <!-- Navigation --> *@
           @*     <ul class="nav flex-column align-items-center w-100 p-3"> *@
           @*         <li class="nav-item w-100 p-1"><a class="nav-link rounded-15 py-3" href="#">Dashboard</a></li> *@
           @*         <li class="nav-item w-100 p-1"><a class="nav-link rounded-15 py-3" href="#">Products</a></li> *@
           @*         <li class="nav-item w-100 p-1"><a class="nav-link rounded-15 py-3" href="#">Orders</a></li> *@
           @*         <li class="nav-item w-100 p-1"><a class="nav-link rounded-15 py-3" href="#">Customers</a></li> *@
           @*         <li class="nav-item w-100 p-1"><a class="nav-link rounded-15 py-3" href="#">User Management</a></li> *@
           @*     </ul> *@
           @* *@
           @*     <!-- Footer --> *@
           @*     <div class="mt-auto w-100 d-flex flex-column align-items-center border-top h-auto justify-content-center p-3"> *@
           @*         <div class="w-100 my-1 p-3 rounded-15 footer-item">Settings</div> *@
           @*         <div class="w-100 my-1 p-3 rounded-15 footer-item">Logout</div> *@
           @*     </div> *@
           @* *@
           @* </nav> *@

           <!-- Main Content -->
           <main>
               @RenderBody()
           </main>

       </div>
   </div>

   <script>
       document.querySelectorAll('.nav-link').forEach(link => {

           link.addEventListener('click', function () {

               document.querySelectorAll('.nav-link').forEach(item =>
                   item.classList.remove('active')
               ); 

               this.classList.add('active');

           });
       });
   </script>

   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="/_framework/aspnetcore-browser-refresh.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>