

<html lang="en">
	<style>
        
        li{
            list-style: none;
        }
        
        /*SIDEBAR*/
        
        .sidebar{
            height: 100%;
        }

        /*SIDEBAR HEADER*/
        
        .sidebar-header{
            height: 8%;
        }
        
        /*SIDEBAR NAV*/
        
        .sidebar-nav{
            padding-left:0;
        }
        
        
        /*NAV ITEM*/
        
        .nav-item{
            list-style: none;
            margin: 5px;
            border-radius: 10px;
            width: 85%;
            height: 50px;
            color: #374151;
        }

        .nav-item:hover{
            background-color: #f9fafb;
            color: #374151;
            height: 50px;
        }
        
        /*NAV LINK*/

        .nav-link{
            color: #374151;
            height: 50px;
        }
        
        .nav-link:hover{
            color: #374151;
            height: 50px;
        }
        
        .nav-link.active {
            background-color: #eff6ff;
            color: #2563eb;
            border-radius: 10px;
            height: 50px;
        }
        
        /*SIDEBAR FOOTER*/
        
        .sidebar-footer{
            height: 16%;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #dee2e6;
        }
        
        /*FOOTER*/
        
        .footer-item{
            margin: 5px;
            border-radius: 10px;
            width: 95%;
            height: 50px;
            color: #374151;
        }
        .footer-item:hover{
            background-color: #f9fafb;
        }
	</style>
	<body>
	
		@*SIDEBAR*@
		
		<div class="col-lg-2 sidebar bg-white d-flex flex-column">
	
			@*SIDEBAR HEADER*@	

            <div class="border-bottom d-flex justify-content-center align-items-center sidebar-header">
                <h4 class="sidebar-brand">E-Commerce Admin</h4>
            </div>

			@*SIDEBAR NAV*@	

        	<ul class="sidebar-nav d-flex flex-column align-items-center mt-3">
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Dashboard</a></li>
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Products</a></li>
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Orders</a></li>
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Customers</a></li>
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">User Management</a></li>
            </ul>


			@*SIDEBAR FOOTER*@
	
            <ul class="sidebar-footer border-top d-flex flex-column justify-content-between col-md-2 p-3">
              <li class="footer-item d-flex align-items-center px-3">Settings</li>
              <li class="footer-item d-flex align-items-center px-3">Logout</li>
            </ul>


		</div>

		<div>Hello</div>
   
	</body>

    <script>
        document.querySelectorAll('.nav-link').forEach(link => {
            
            link.addEventListener('click', function() {
                
                document.querySelectorAll('.nav-link').forEach(item =>
                    item.classList.remove('active')
                );
                
                this.classList.add('active');
            
            });
        });
	</script>
</html>

